@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Ubuntu&family=Yanone+Kaffeesatz&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #faedcd;
}
.load{
    font-family: inherit;
    font-size: 32px;
    color: #e63946;
    position: relative;
}
.load::before, .load::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom-color: #0077b6;
    border-radius: 50%;
    animation: rotateA 2s linear infinite .5s;
}
.load::before{
    transform: rotate(90deg);
    animation: rotateB 2s linear infinite;
}
@keyframes rotateA{
    0%,25%{
        transform: rotate(0deg);
    }
    50%,75%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes rotateB{
    0%,25%{
        transform: rotate(90deg);
    }
    50%,75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(450deg);
    }
}
span{
    position: absolute;
    top: 130px;
}